h1 {
    background-color: hsla(50, 100%, 55%, 0.702);
    font-family: "times new roman", sans-serif;
    color: black;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin: 15px 100px;
    padding: 10px;
    border: 5px solid black;
    margin-bottom: 30px;
}

.list {
    font-size: 40px;
    
}

.inline {
    display: inline
}

.one {
    margin: 20px 50px 20px 60px;
    background-color: hsla(27, 91%, 50%, 0.576);
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}

.two {
    margin: 20px 50px 20px 20px;
    background-color: hsla(27, 91%, 50%, 0.576);
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}

.three {
    margin: 20px 70px 20px 20px;
    background-color: hsla(27, 91%, 50%, 0.576);
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}


img {
    height: 200px;
    width: auto;
    margin-left: 100px;
    border: 2px dotted pink;
}